<h2>Welcome to <code>erl_phoenix</code></h2>.

<ul>
  <li>This page is rendered with a Phoenix controller + HEEx templates</li>
  <li>Visit <a href="/no-view"><code>/no-view</code></a> for an example of rendering HTML directly from controller (it could be JSON or anything else)</li>
  <li>Visit <a href="/live"><code>/live</code></a> for a LiveView example</li>
</ul>
